<table>
	<tr>
		<th>Trends</th>
	</tr>

<% @trends.each do |trend| %>
	<tr>
		<td><%= trend.name %></td>
		<td><%= trend.created_at %></td>
	</tr>
	<% trend.tweets do |tweet| %>
	<tr>
		<td><%= tweet.text %></td>
		<td><%= tweet.screen_name %></td>
	</tr>
	<% end %>
<% end %>
</table>