@import "bootstrap-sprockets";
@import "bootstrap";

.container {
	padding-left: 0px;
	border: 0px;
	margin-left: 20px;
}

.screen_name {
	color: #428bca;
}

.timestamp {
	font-size: x-small;
}

.trend {
	text-decoration: none;
}

.website {
	font-size: x-small;
}

.btn {
    margin: 2px;
}